{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <header>
            <div class="navigation">
                <div class="WODlogo">
                    <a href="/"><h3>WOD</h3></a>

                </div>
                <div class="search_bar">

                </div>
                <div class="serch_bar">
                    <input type="text" placeholder="search">
                    <a class="search_bar" href=""><i class="fas fa-search"></i></a>
                </div>

                <div class="contacts_icons">
                    <a class="profile" href=""><i class="far fa-user"></i> </a>
                    <a class="profile" href=""><i class="far fa-user"></i> </a>
                    <a class="profile" href=""><i class="far fa-user"></i> </a>

                </div>
            </div>
        </header>
        <div class="content_container">
            {% block content %}
            {% endblock content %}
        </div>