body{
    background-color: rgb(232, 228, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.date{
    margin-bottom: 40px;
    width:500px;
    height: 40px;
    border-radius: 200px;
    box-sizing: content-box;
    border: 3px solid red
}
.select-3{
    margin-bottom: 40px;
    width:500px;
    height: 40px;
    border-radius: 200px;
    box-sizing: content-box;
    border: 3px solid orange
}
.hieght{
    margin-bottom: 40px;
    width:500px;
    height: 40px;
    border-radius: 200px;
    box-sizing: content-box;
    border: 3px solid yellow
}
.weight{
    margin-bottom: 30px;
    width:500px;
    height: 40px;
    border-radius: 200px;
    box-sizing: content-box;
    border: 3px solid green
}
.btn {
    display: inline-block;
    margin-left: 50px;
    color: aliceblue;
    width: 200px;
    padding: 10px;
    margin-top:75px;
    border-radius: 10px;
    background-color: rgb(0, 157, 255);
    border-color:rgb(0, 157, 255);
    box-shadow: 0 0 3px 3px gray;
}



