body {
    background-color: rgb(221, 219, 219);
}
div.run{
    margin-left: 325px;
    color: rgb(1, 178, 1);

}
.K{
    width: 150px;
    height: 150px;

}
.main-div{
    margin-top: 30%;

}
.container {
    
    display: flex;
    justify-content: space-around;
}
img {
    height: 150px;
    width: 150px;
}
.btn {
    display: inline-block;
    margin-top: 200px;
    margin-left: 150px;
    color: aliceblue;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
    box-shadow: 3px 3px gray;
}

