body {
    background-color: rgb(196, 192, 192);
}
.container {
    
    display: flex;
    justify-content: space-around;
}
.flex-div{
    margin-top: 30%;
    
}
h1 {
    text-align: center;
}

img {
    height: 155px;
    width: 155px;
    box-shadow: 0 0 3px 3px gray;

}
.btn {
    display: inline-block;
    margin-top: 200px;
    margin-left: 150px;
    color: aliceblue;
    width: 200px;
    padding: 10px;
    margin-top: 150px;
    border-radius: 10px;
    background-color: rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
    box-shadow: 0 0 3px 3px gray;
}

