{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="post-detail">
    <h1>{{ post.title }}</h1>
    <h3>{{ post.subtitle }}</h3>
    <strong>Created by: {{ post.author }} | On {{ post.created_on }}</strong>
    <p>{{ post.body }}</p>
    {% if user == post.author %}
        <p class="author-options">
            <a href="{% url 'edit' post.id %}"><i class="btn btn-prymary bi bi-pencil"></i></a>
            <a href="{% url 'delete' post.id %}"><i class="btn btn-danger bi bi-trash"></i></a>
        </p>
        {% endif %}
</div>
{% endblock content %} 