{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://kit.fontawesome.com/3865fe1c3d.js"
    crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    {% load static %}<link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
<div>
    <div class="main">
    <header>
        <div class="navigation">
        <div class="WODlogo">
            
            <a><h3><i style="color: red;">W</i><i style="color: yellow;">O</i><i style="color:blue ;">D</i></h3></a>
        </div>

        <div class="search_bar">
            <input type="text" placeholder="search" />
            <a class="search_bar" href=""><i class="fas fa-search"></i></a>
        </div>

        <div class="contacts_icons">
            <button class="Notifacations" onclick="location.href='../sport/';">Notifacations</button>
            <button class="profile" onclick= "location.href='../profile/';">Profile</button>
            
        </div>
        </div>
    </header>

<!---friend card-->
<br>
<br>
<br>
<br>

<div class="container">
<div class="card">
    <img src="{% static 'img/profile.png' %}" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    
    <p><button class="btn2" style="background-color: gold;">follow</button></p>
</div>

<div class="card">
    <img src="{% static 'img/profile.png' %}" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    
    <p><button class="btn2" style="background-color: orange;">follow</button></p>
</div>

<div class="card">
    <img src="{% static 'img/profile.png' %}" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    
    <p><button class="btn2" style="background-color: red;">follow</button></p>
</div>

<div class="card">
    <img src="{% static 'img/profile.png' %}" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    
    <p><button class="btn2" style="background-color: purple;">follow</button></p>
</div>

</div>



    <footer class="nav2">
    
            
    
            <div class="contacts_icons2">
                <button class="screenshare" onclick="location.href='../profile/';">screenshare</button>
                <button class="watch" onclick= "location.href='../log/';">Watch</button>
                <button class="Events" onclick="location.href='../sport/';">Events</button>

            </div>
            </div>
        </div>
    </footer>
</div>
    {% endblock content %}