{% block title %}Posts{% endblock title %}

{% block content %}
{% for post in post_list %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.subtitle }}</h6>
        <p class="card-text">{{ post.body | truncatechars:500 }}</p>
        <a href="{% url 'detail' post.id " class="card-link">Read more...</a>
        {% if user == post.author %}
        <p class="author-options">
            <a href="{% url 'edit' post.id %}"><i class="btn btn-prymary bi bi-pencil"></i></a>
            <a href="{% url 'delete' post.id %}"><i class="btn btn-danger bi bi-trash"></i></a>
        </p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock content %}