body{
    background-color: rgb(196, 192, 192);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    }
    h3{
        text-align: center;
        color: aliceblue;
    }
    .form-control-1{
        width: 600px;
        border: 3px solid green;
        
        
    }
    .select-1{
        height: 50px;
        width: 600px;
        border: 3px solid blue;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    .select-2{
        height: 50px;
        width: 600px;
        border: 3px solid rgb(96, 197, 230);
        border-radius: 8px;
        margin-bottom: 30px;
    }
    
    .form-control-3{
        border: 3px solid violet;
        width: 600px;
        
    }
    
    .select-3{
        height: 50px;
        width: 600px;
        border: 3px solid purple;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    
    .form-control-6{
        
        border: 3px solid purple;
        
    }
    .form-control-7{
        width: 600px;
        border: 3px solid purple;
        margin-left: 100px;
    }
    
    .btn{
        display:inline-block;
        color: aliceblue;
        width: 200px;
        padding: 10px;
        margin-top:75px;
        margin-left: 50px;
        border-radius: 10px;
        background-color: rgb(0, 157, 255);
        border-color:rgb(0, 157, 255);
        box-shadow: 0 0 3px 3px gray;
    }
    
    