{% block content %}
    <html>
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    {% load static %}<link rel="stylesheet" href="{% static 'css/log.css' %}">
    <div class="main">
        <header>
            <div class="navigation">
            <div class="WODlogo">
                
                <a href="/"><h3><i style="color: red;">W</i><i style="color: yellow;">O</i><i style="color:blue ;">D</i></h3></a>
            </div>

            <div class="search_bar">
                <input type="text" placeholder="search" />
                <a class="search_bar" href=""><i class="fas fa-search"></i></a>
            </div>

            <div class="contacts_icons">
                <button class="stats" style="background-color:blue ;">Bluetooth</button>
                <button class="stats" style="background-color:rgb(10, 243, 165) ;">Challenges</button>
                <button class="stats" style="background-color:rgb(176, 2, 176) ;">Events</button>
                
            </div>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <form action="submit">
        <div  class="log">
        <h1>Logs</h1>
    </div>
    <div class="spreadsheet" id="spreadsheet"></div>
    
    <script>
    var data = [
        ['Bench'],
        ['Sqaut'],
        ['Deadlift'],
    ];
    
    jspreadsheet(document.getElementById('spreadsheet'), {
        data:data,
        columns: [
            {
                type: 'text',
                title:'Exersise',
                width: 120
            },
            {
                type: 'calendar',
                title:'Date',
                width:120
            },
            {
                type: 'text',
                title:'Sets',
                width:120,
                source:[
                    "Alfa Romeo",
                    "Audi",
                    "Bmw",
                    "Chevrolet",
                    "Chrystler",
                    // (...)
                ]
            },
            {
                type: 'text',
                title:'Reps',
                width:120
            },
            {
                type: 'text',
                title:'Lbs1',
                width:120
            },
            {
                type: 'text',
                title:'Lbs2',
                width:120
            },
            {
                type: 'text',
                title:'Lbs3',
                width:120,
            },
            
        ]
    });
    </script>
    
    
    <button type="button" class="btn1" onclick= "location.href='../profile/';">Share</button>
    {% load comments %}
    <button type="button" class="btn2" onclick= "location.href='../profile/';">Comment</button>
    
    {% endblock content %}
    </form>
    </html>
