

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}<link rel="stylesheet" href="{% static 'css/power.css' %}">
    
</head>
<body>
    <div class="power">
    <h1>Powerlifting Programs</h1>
    </div>

    <div class="main-div">
        <div class="container">
        <h3>Beginner</h3>
        <h3>Intermediate</h3>
        <h3>Advance</h3>
        </div>
    <div class="container">
        
        <button type="submit" name="learn" value="myimage">
            <img src="{% static 'img/25lbs.jpg' %}">
        </button>

        <button type="submit" name="learn" value="myimage">
            <img src="{% static 'img/35lbs.jpg' %}">
        </button>

        <button type="submit" name="learn" value="myimage">
            <img src="{% static 'img/45lbs.jpg' %}">
        </button>
    </div>

    </div>
    <button type="button" class="btn btn-primary" onclick= "location.href='../sport/';">Back</button>
    <button type="button" class="btn btn-primary" onclick= "location.href='../Home/';">Next</button>

</body>
</html>
{% endblock content %}

