<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="power.css" />
    <title>Document</title>
</head>
<body>
    <h1>Powerlifting Programs</h1>

    <div>
        <h3>Beginner</h3>
        <h3>Intermediate</h3>
        <h3>Advance</h3>
    <div class="container">
        <button type="submit" name="learn" value="myimage">
            <img src=img/25lbs.jpg alt="sport">
        </button>

        <button type="submit" name="learn" value="myimage">
            <img src=img/35lbs.jpg alt="sport">
        </button>

        <button type="submit" name="learn" value="myimage">
            <img src=img/45lbs.jpeg alt="sport">
        </button>
    </div>

    </div>
        <button type="submit" class="btn btn-primary">Back</button>
        <button type="submit" class="btn btn-primary">Next</button>

</body>
</html>