    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
        src="https://kit.fontawesome.com/3865fe1c3d.js"
        crossorigin="anonymous"
        ></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <title>Document</title>
    </head>
    <body>
        <div class="main">
        <header>
            <div class="navigation">
            <div class="WODlogo">
                
                <a href="/"><h3><i style="color: red;">W</i><i style="color: yellow;">O</i><i style="color:blue ;">D</i></h3></a>
            </div>

            <div class="search_bar">
                <input type="text" placeholder="search" />
                <a class="search_bar" href=""><i class="fas fa-search"></i></a>
            </div>

            <div class="contacts_icons">
                <button class="program" onclick="location.href='../power/';">Programs</button>
                <button class="stats">Stats</button>
                
            </div>
            </div>
        </header>

        {% block content %} {% endblock content %}
    
        <div class="profile"><img src="{% static 'img/profile.png' %}" /></div>
        <div class="detail">
            <div class="post">
            <h2>0</h2>
            <p>Post</p>
            </div>
            <div class="followers">
            <h2>0</h2>
            <p>Followers</p>
            </div>
            <div class="following">
            <h2>0</h2>
            <p>Following</p>
            </div>
        </div>
        <br />
        <div class="info">
            <div class="name">
            <h3>Bret Patterson</h3>
            </div>
            <div class="service">
            <h3>Product/Sercice</h3>
            </div>
            <div class="work">
            <h3>Programmer</h3>
            </div>
            <br />
            <div class="button">
            <div class="edit"><button>Edit Profile</button></div>
            
            </div>
        </div>
        </div>
        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'posts_list' %}">Django central</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">About</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Policy</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
            <a href="https://djangocentral.com/building-a-blog-application-with-django"
                class="btn btn-danger">Know more!</a>
        </div>
    </div>
    </div>
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Django Central</p>
        </footer>
        {% block sidebar %}

{% endblock sidebar %}
    </body>
    </html>
