
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}<link rel="stylesheet" href="{% static 'css/programs.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>powerlifting Programs</h1>
    <div class="run">
    <img src="{% static 'img/programs.png' %}">
    <br>
    <div class="radio">
    <input type="radio" value="beginner"name="fav_language" id="beginner">
    <label for="beginner">Pick</label>
    </div>
    <br>
    
    <button type="button" class="btn btn-primary" onclick= "location.href='../sport/';">Back</button>
    {% endblock content %}
</div>
</body>
</html>