{% extends 'base.html' %}

{% block title %}login{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sport.css" />
    <title>Document</title>
</head>
<body>
    <h1>Sport</h1>

    <div class="flex-div">
        <h3 class="pl">Powerlifting</h3>

        <h3 class="rn">Running</h3>

    <div class="container">
        <button type="submit" name="learn" value="myimage">
            <img src=img/powerlifting.png alt="sport">
        </button>

        <button type="submit" name="learn" value="myimage">
            <img src=img/running.png alt="sport">
        </button>
    </div>
    </div>

    <button type="submit" class="btn btn-primary">Back</button>
    <button type="submit" class="btn btn-primary">Next</button>

    
</body>
</html>
{% endblock content %}